
.side-menu {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
  }
  .top-bar {
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .side-menu li {
    margin-bottom: 10px;
  }
  
  .side-menu a {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
  }
  
  .side-menu a:hover {
    background-color: #ddd;
  }
  
  .app-container {
    margin-left: 200px; /* Adjust this value to make space for the side menu */
    padding: 20px;
  }

.page-container {
    max-width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.user-details-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
}

.table-container {
  margin-top: 20px;
}
/* src/styles.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 400px;
  width: 100%;
  outline: none;
}
.modal-buttons-container{
  margin-top: 20px;
}
.loading-spinner{
   display: flex;
   justify-content: center;
   margin-top: 40px;
}
  
  